body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.light {
  background-color: #ffffff;
  color: #000000;
}

.dark {
  background-color: #121212;
  color: #ffffff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar-light {
  background-color: #8a2be2;
  /* violetish */
}

.navbar-dark {
  background-color: #555555;
  /* greyish */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-logo {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.menu-icon {
  display: none;
  font-size: 28px;
  color: #fff;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:checked+.slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    background-color: #555555;
    /* default to dark grey */
  }

  .nav-menu.active {
    background-color: #555555;
    /* default to dark grey */
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-item {
    margin: 20px 0;
  }

  .nav-links {
    font-size: 24px;
  }
}

/* Additional styles for Home component */

.home {
  text-align: center;
  padding: 50px;
}

.light .home h1, .light .home p {
  color: black;
}

.dark .home h1, .dark .home p {
  color: white;
}